* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #252525;
}

body {
  background-color: #F4E2CB;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 0 10%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

main {
  padding: 100px 10%;
  width: 100%;
  min-height: 95vh;
}

footer {
  width: 100%;
  padding: 100px 10%;
  background-color: #252525;
}

footer a {
  color: #fff;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}